# This file contains pin mappings for the stock 2020 Creality Ender 3
# V2. To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.

#Adapté avec https://github.com/LeeOtts/Ender3v2-Klipper-Configs/blob/main/4.2.2_printer.cfg

###########################################################
##                       SuperSlicer Filename Format
###########################################################

# {input_filename_base}_{filament_type[0]}_nozzle-{nozzle_diameter}_layer-{layer_height}mm_{fill_density}%_{temperature[0]}C_{total_weight}gr_{print_time}.gcode


###########################################################
##                       Serial Connection 
###########################################################

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[mcu rpi]
serial: /tmp/klipper_host_mcu

###########################################################
## Raspberry Pi Temperature Display for Mainsail
###########################################################

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

###########################################################
##                       Printer 
###########################################################

#[firmware_retraction]
#firmware_retraction: True
#retract_length: 5          # Length of filament to retract in mm #Ne pas depasser 5% de tube bowden de 400mm soit 20
#retract_speed: 45          # Speed of retraction in mm/s  # (60) old => Tester 10 si probleme
#unretract_extra_length: 0  # Extra length to un-retract in mm
#unretract_speed: 20

#Tunning : Slice the test (with klipper and cura FirmwareRetraction Enable) & Print it and at the start of the print execute this command in the terminal :
#TUNING_TOWER COMMAND=SET_RETRACTION PARAMETER=RETRACT_LENGTH START=2 FACTOR=0.05
#this test will test retract length from 2 to 7
#CALC: “retraction = 2 + measured_height x 0.05.”
[firmware_retraction]
retract_length: 3.25
retract_speed: 30
unretract_extra_length: 0
unretract_speed: 30

[printer]
kinematics: cartesian
max_velocity: 300  #ORIG: 300     MAX TEST SPEED: 500
max_accel: 3000    #ORIG: 3000 MAX TEST SPEED: 12000
max_z_velocity: 5  #ORIG 5
max_z_accel: 150   #PREV 100
square_corner_velocity: 5  # TO TEST : 10

[input_shaper]
#Recommended shaper_type_x = 3hump_ei, shaper_freq_x = 116.8 Hz
#To avoid too much smoothing with '3hump_ei', suggested max_accel <= 10000 mm/sec^2
#Fitted shaper '3hump_ei' frequency = 116.8 Hz (vibrations = 0.0%, smoothing ~= 0.061)
#To avoid too much smoothing with 'mzv', suggested max_accel <= 14800 mm/sec^2
#Fitted shaper 'mzv' frequency = 70.8 Hz (vibrations = 4.6%, smoothing ~= 0.042)
shaper_type_x: 3hump_ei #Max Accel X 10000
shaper_freq_x: 116.8
#shaper_type_x: mzv #Max Accel X 14870
#shaper_freq_x: 71.2
#Recommended shaper_type_y = mzv, shaper_freq_y = 50.8 Hz
#To avoid too much smoothing with 'mzv', suggested max_accel <= 7600 mm/sec^2
#Fitted shaper 'mzv' frequency = 50.8 Hz (vibrations = 2.7%, smoothing ~= 0.079)
shaper_type_y: mzv #Max Accel Y 7600
shaper_freq_y: 50.8
#shaper_type_y: 2hump_ei #Max Accel Y 2990
#shaper_freq_y: 52

[adxl345]
cs_pin: rpi:None

[resonance_tester]
accel_chip: adxl345
probe_points: 117,117,80
#command :
#Recommended shaper_type_x = mzv, shaper_freq_x = 73.2 Hz
#To avoid too much smoothing with 'mzv', suggested max_accel <= 15800 mm/sec^2
#Fitted shaper 'mzv' frequency = 73.2 Hz (vibrations = 0.0%, smoothing ~= 0.040)
#command : 
#Recommended shaper_type_y = 3hump_ei, shaper_freq_y = 50.4 Hz
#To avoid too much smoothing with '3hump_ei', suggested max_accel <= 1700 mm/sec^2
#Fitted shaper '3hump_ei' frequency = 50.4 Hz (vibrations = 0.0%, smoothing ~= 0.323)

[idle_timeout]
timeout: 3600

#To enable M118 and pausing functionality
[respond]
default_type: command

[pause_resume]
recover_velocity: 25

[fan]
pin: PA0

[virtual_sdcard]
path: ~/gcode_files

###########################################################
##                       Probe 
###########################################################

[bltouch]
sensor_pin: ^PB1
control_pin: PB0
pin_move_time: 0.675
pin_up_touch_mode_reports_triggered: False
x_offset: -44.5
y_offset: -5
#z_offset: 1.36
speed: 35
samples: 1
samples_result: median
#samples_tolerance: 0.0075
samples_tolerance_retries: 10
probe_with_touch_mode: true
stow_on_each_sample: false

[safe_z_home]
home_xy_position: 161,123 #Change coordinates to the center
speed: 75
z_hop: 10 # Move up 10mm
z_hop_speed: 10
#move_to_previous: true  # a creuser

###########################################################
##                       Capteur Filament 
###########################################################

[filament_switch_sensor filament_runout_sensor]
# Configuration du capteur de fin de filament
switch_pin: PA4
pause_on_runout: True
runout_gcode: PAUSE

###########################################################
##                       Extruder 
###########################################################

[extruder]
max_extrude_only_distance: 400.0
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
#gear_ratio: 3.5:1 #A ajouter mais refaire une calibation d'extruder
#rotation_distance: 34.406
rotation_distance: 33.34   #nouvelle_rotation_distance = (ancienne_rotation_distance * (120-distanceRestante)) / distance_demandée:100
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
#control: pid
# tuned for stock hardware with 200 degree Celsius target
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
#pid_Kp: 26.89   #MARLIN
#pid_Ki: 2.37    #MARLIN
#pid_Kd: 76.36   #MARLIN
#pid_Kp: 29.141  #KLIPPER
#pid_Ki: 1.704   #KLIPPER
#pid_Kd: 124.576 #KLIPPER
min_temp: 0
max_temp: 250
min_extrude_temp: 170
###########################################################
##                       PRESSURE ADVANCE
###########################################################
# It is recommended to calibrate your own pressure advance.
# See https://www.youtube.com/watch?v=W1A1BTgGPFA&list=PLG2DUsM4SElSYaGta07jPFdrE_DXlMMff
#pressure_advance: 1.45 # PLA SILKS
#pressure_advance: 0.50 # PLA Noir JAYO
#pressure_advance: 0.55 # PLA Rose Polymaker
#pressure_advance: 0.85 # PLA Rose Polymaker
pressure_advance: 0.40 # PLA Rose Polymaker Cura
pressure_advance_smooth_time: 0.04

###########################################################
##                       autotune_tmc
###########################################################

#[autotune_tmc stepper_x]
#motor: creality-42-34
#tuning_goal: performance
#[autotune_tmc stepper_y]
#motor: creality-42-34
#[autotune_tmc stepper_z]
#motor: creality-42-34
#[autotune_tmc extruder]
#motor: creality-42-40

###########################################################
##                       Mesh 
###########################################################

[bed_mesh]
speed: 250
horizontal_move_z: 8
mesh_min: 10,10     #ADUP
mesh_max: 200,220     #ADUP 204,225  
probe_count: 7,7
#relative_reference_index: 12 #Si probe_count:5,5 (5x5 = 25 /2 = 12)
#relative_reference_index: 24 #Si probe_count:7,7 (7x7 = 49 /2 = 24)
#mesh_pps: 2,2
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

###########################################################
##                       Steppers 
###########################################################

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 0
position_max: 246  #ADUP 246
position_min: -1   #ADUP
homing_speed: 80
second_homing_speed: 20

#[tmc2209 stepper_x]
#uart_pin: PC11
#tx_pin: PC10
#uart_address: 0
#run_current: 0.580
#hold_current: 0.500
#stealthchop_threshold: 999999

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: 0
position_max: 232  #ADUP 235
position_min: -6   #ADUP
homing_speed: 80
second_homing_speed: 20

#[tmc2209 stepper_y]
#uart_pin: PC11
#tx_pin: PC10
#uart_address: 2
#run_current: 0.580
#hold_current: 0.500
#stealthchop_threshold: 999999

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
#endstop_pin: ^PA7
endstop_pin: probe:z_virtual_endstop
position_min: -3
#position_endstop: 0.0 
position_max: 250
homing_speed: 10
second_homing_speed: 2
homing_retract_dist: 2.0

#[tmc2209 stepper_z]
#uart_pin: PC11
#tx_pin: PC10
#uart_address: 1
#run_current: 0.580
#hold_current: 0.500
#stealthchop_threshold: 999999

###########################################################
##                       Heater Bed 
###########################################################

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
# tuned for stock hardware with 50 degree Celsius target
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
#pid_Kp: 192.22  #MARLIN
#pid_Ki: 36.41   #MARLIN
#pid_Kd: 676.62  #MARLIN
#pid_Kp: 67.965  #KLIPPER
#pid_Ki: 0.850   #KLIPPER
#pid_Kd: 1358.45 #KLIPPER
min_temp: 0
max_temp: 130

###########################################################
##                       Screen
###########################################################
[display_status]

 # https://www.reddit.com/r/klippers/comments/q6gl65/ender_3_v2_display_help/
 # https://github.com/bustedlogic/DWIN_T5UIC1_LCD
 # https://github.com/GalvanicGlaze/DWIN_T5UIC1_LCD/wiki

###########################################################
##                  Manual Bed Leveling
###########################################################

[bed_screws]
screw1: 79,201
screw1_name: Arriere Gauche
screw2: 235,201
screw2_name: Arriere Droite
screw3: 235,42
screw3_name: Avant Droite
screw4: 79, 42
screw4_name: Avant Gauche
horizontal_move_z: 10
speed: 250

###########################################################
##                   Screw Adjustment
###########################################################

[screws_tilt_adjust]
screw1: 79,201
screw1_name: Arriere Gauche
screw2: 235,201
screw2_name: Arriere Droite
screw3: 235,42
screw3_name: Avant Droite
screw4: 79, 42
screw4_name: Avant Gauche
horizontal_move_z: 10
speed: 250
screw_thread: CW-M4 # Use CW for Clockwise and CCW for Counter Clockwise 

###########################################################
##                       Arc support 
###########################################################

[gcode_arcs]
resolution: 0.2

###########################################################
##                     AMELIORATIONS
###########################################################

[include mainsail.cfg]

[include macros.cfg]

[exclude_object]

[force_move]
enable_force_move: True

[shaketune]
#command : AXES_MAP_CALIBRATION   # Verify that your accelerometer is working correctly and automatically find its Klipper's axes_map parameter
#command : COMPARE_BELTS_RESPONSES # Generate a differential belt resonance graph to verify relative belt tensions and belt path behaviors on a CoreXY or CoreXZ printer
#command : AXES_SHAPER_CALIBRATION # Create the usual input shaper graphs to tune Klipper's input shaper filters and reduce ringing/ghosting

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 1.714
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 67.965
#*# pid_ki = 0.850
#*# pid_kd = 1358.450
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 29.141
#*# pid_ki = 1.704
#*# pid_kd = 124.576
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.053750, 0.066250, 0.052500, 0.018750
#*# 	0.101250, 0.060000, -0.013750, -0.071250
#*# 	0.035000, 0.008750, -0.050000, -0.110000
#*# 	0.070000, 0.087500, 0.058750, 0.007500
#*# x_count = 4
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 21.29419999999999
#*# max_x = 199.9742
#*# min_y = 37.4697
#*# max_y = 192.5097
